{% extends 'ecweb/baseadmin.html' %}
{% load staticfiles %}

{% block head %}{% endblock %}

{% block js %}{% endblock %}

{% block content %}
<div class="content-wrapper">
  {% if perms.ecweb.view_all_classrooms %}
      <a href="{% url 'classroom_create_view' %}">
        Create a classroom
      </a>
  {% endif %}
  {% if not perms.ecweb.view_all_classrooms %}
    <h4 class="text-primary mb-3">My Classrooms</h4>
  {% endif %}
  {% for classroom in object_list %}
    <h3 class="text-primary mb-3">
      <a href="{% url 'classroom_detail_view' slug=classroom.slug %}">
        {{classroom.level}} - {{classroom.number_class}}
      </a>
    </h3>
  {% endfor %}
</div>
{% endblock %}
