{% extends 'ecweb/baseadmin.html' %}
{% load staticfiles %}

{% block head %}{% endblock %}

{% block js %}{% endblock %}

{% block content %}
<div class="content-wrapper">
    <h3 class="text-primary mb-3">{{object.level}} - {{object.number_class}}</h3>

    <div class="classroom">
      <table class="table">
        <thead>
          <h4>Teachers</h4>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
            {% for student in object.teachers.all %}
              <tr>
                <td>
                  {{student.user.first_name}}
                </td>
                <td>
                  {{student.user.last_name}}
                </td>
                <td>
                  {{student.user}}
                </td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
      <table class="table">
        <thead>
          <h4>Students</h4>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
            {% for student in object.students.all %}
              <tr>
                <td>
                  {{student.user.first_name}}
                </td>
                <td>
                  {{student.user.last_name}}
                </td>
                <td>
                  {{student.user}}
                </td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
      <ul>
        <h2>Classes</h2>
        {% if object.class_set.all %}
          {% for class in object.class_set.all %}
            <a href="#">{{class}}</a>
          {% endfor %}
        {% else %}
          Not found.
        {% endif %}
      </ul>
    </div>
</div>
{% endblock %}