{% extends 'ecweb/baseadmin.html' %}
{% load staticfiles %}

{% block head %}{% endblock %}

{% block js %}{% endblock %}

{% block content %}
<div class="content-wrapper">

  {% if classroom %}
    <h3 class="text-primary mb-4">{{classroom.nivel}} - {{classroom.number_class}}</h3>
    {% for pdf_obj in pdf%}
      <a href="{{pdf_obj.file.url}}">{{pdf_obj.description}}</a>
    {% endfor %}
  {% else %}
    <div class="content-wrapper">
      <div class="row">
        <h3 class="text-primary mb-5">
          Create your first classroom.
        </h3>
      </div>
      <div class="row">
          <div class="">
            <a href="#" class="btn btn-default">Create Here</a>
          </div>
      </div>
    </div>

  {% endif %}
</div>
{% endblock %}
