{% extends 'ecweb/baseadmin.html' %}
{% load staticfiles %}

{% block head %}
	<style type="text/css">
		a.btn.btn-coodinator {
			background-color: #005890;
			color: white;
			font-weight: bold;
		}
		a.btn.btn-coodinator:hover {
			background-color: #2b82ba;
		}
	</style>
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <h3 class="text-primary mb-4">Coordinator's Dashboard</h3>
    <a class="btn btn-coodinator" href="{% url 'create-user' %}">Create a Coordinator</<a>
</div>
<footer class="footer">
    <div class="container-fluid clearfix">
      <span class="float-right">
          <a href="#">Star Admin</a> &copy; 2017
      </span>
    </div>
</footer>
{% endblock %}

{% block user_title %}
<p class="designation">Coordinator</p>
{% endblock %}
